.header {
  margin-bottom: 20px;

  &__navbar {
    padding: 0;
  }

  &__link {
    padding-block: 20px;
    text-decoration: none;
    color: white;
    font-size: 40px;

    &:hover {
      font-weight: 500;
    }
  }
}